[Unit]
Description=LED Controller Service
After=network.target osc_router.service

[Service]
Type=simple
User=root
Environment=PYTHONPATH=/home/blanchard/tourne_disque
ExecStart=/home/blanchard/tourne_disque/venv/bin/python /home/blanchard/tourne_disque/scripts/led_controller.py
WorkingDirectory=/home/blanchard/tourne_disque
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target